#scraper-tool{
	position: fixed;
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	z-index: 2000000000;
	background: white;
	font-family: Verdana;
	font-weight: normal;
}

/*#su-logo{
	padding: 8px;
	font-size: 16px;
}*/

/*#su-table{
	text-align: left;
	font-size: 16px;
}

#su-table>tbody>tr>th, td{
	padding: 8px;
}*/

#su-fields-toggle{
	width: 2%;
	padding: 8px;
	font-size: 16px;
}

#su-field-edit{
	width: 2%;
	padding: 8px;
	font-size: 16px;
}

.su-field{
	display: flex;
	width: 100%;
}

.su-field-name{
	padding: 8px;
	padding-left: 24px;
	width: 20%;
	font-size: 16px;
}

.su-field-selector{
	padding: 8px;
	width: 20%;
	font-size: 16px;
}

.su-field-example{
	padding: 8px;
	width: 20%;
	font-size: 16px;
}