#scraper-tool{
	position: fixed;
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	z-index: 99999;
	background: #00c3ff;
	font-family: Verdana;
	font-weight: normal;
}

.SU-title{
	padding: 12px;
	text-align: center;
	font-size: 32px;
}
.SU-subtitle{
	padding-bottom: 12px;
	text-align: center;
	font-size: 16px;
}
.el-selection {
	outline: 1px solid blue;
}
.el-highlight {
	background-color: rgb(254, 246, 76);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
}
