*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Verdana;
	line-height: 150%;
	font-weight: normal;
}

#scraper-utility{
	width: 100%;
	font-size: 25px;
}